<%= form_for @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <br><br>
  <%= f.label :follow_up, "Follow Up Needed?" %>
  <%= f.check_box :follow_up %>
  <%= f.label :Follow_up_date %>
  <%= f.date_select :follow_up_date %>
  <br><br>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <br><br>

  <!-- Make into partials??? -->

  <h4>Organization Information</h4>
  <%= f.fields_for :organization do |org_builder| %>
    <%= org_builder.label :name %>
    <%= org_builder.text_field :name %>
    <br><br>
    <%= org_builder.label :location, "City or Area" %>
    <%= org_builder.text_field :location %>
    <br><br>

    <br><br>
    <h5>Contact Information</h5>
    <%= org_builder.fields_for :contacts do |contact_builder| %>
      <%= contact_builder.label :name %>
      <%= contact_builder.text_field :name %>
      <br><br>
      <%= contact_builder.label :phone %>
      <%= contact_builder.text_field :phone %>
      <br><br>
      <%= contact_builder.label :email %>
      <%= contact_builder.email_field :email %>
      <br><br>
      <br>
    <% end %>
  <% end %>

  <%= hidden_field_tag "event[user_id]", current_user.id %>
  <%= f.submit %>
<% end %>
