<h1><%= @event.name %></h1>
<hr>
<p><%= @event.presentable_date %></p>
<p><%= link_to @event.organization.name, organization_path(@event.organization) %></p>
<hr>
<p>Notes: <%= @event.notes %></p>
<p>Follow Up Needed? <%= @event.follow_up %></p>
