<h1><%= @event.name %></h1>
<hr>
<p>Event Date: <%= presentable_date(@event.date) %></p>
<p>Organization: <%= link_to @event.organization.name, organization_path(@event.organization) %></p>
<hr>
<p>Notes: <%= @event.notes %></p>
<p>Follow Up Needed? <strong><%= follow_up_display(@event) %></strong></p>
<p>Follow Up By: <%= display_follow_up_date(@event) %></p>
<hr>
<%= link_to "Edit Event", edit_event_path(@event) %><br>
<%= link_to "Delete Event", event_path(@event), :method => 'delete' %>
