<h1>All Contacts</h1>
<%= render 'searchform' %>
<br>
<hr>
<% @contacts.each do |contact| %>
  <p><strong><%= link_to contact.name, organization_path(contact.organization) %> - <%= contact.organization.name %></strong></p>
  <em><%= contact.phone %> / <%=contact.email %></em>
<% end %>
