<!DOCTYPE html>
<html>
  <head>
    <title>Networker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div class= "wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
  <footer>
    <strong>Networker, 2018</strong>
    <br>Created by Amanda Ackerman
  </footer>

</html>
